[Unit]
Description=Saturn LCD Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/saturn-lcd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
